@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* variables */
    --font-body: Body;
  }

  body {
    @apply bg-backdrop font-body text-text;
  }

  a {
    @apply text-primary hover:underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    @apply m-0 appearance-none;
  }
}

.max-combo {
  background: -webkit-radial-gradient(#ef4444, #facc15, #3b82f6);
}

.max-combo-mask {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-content h2 {
  @apply pb-2.5;
}

.page-content > ol > li:not(:first-child):not(:last-child) {
  @apply py-2.5;
}

.page-content > ol > li:first-child {
  @apply pb-2.5;
}

.page-content > ol > li:last-child {
  @apply pt-2.5;
}

.page-content > ol ul {
  @apply list-square py-2.5 pl-5;
}

.page-content > ol ul > li {
  @apply pb-2.5;
}

.rating-mask {
  mask-repeat: no-repeat;
  mask-position: 50%;
}

.rating-mask.rating-e {
  -webkit-mask-image: url(/images/rating-e.svg);
  mask-image: url(/images/rating-e.svg);
}

.rating-mask.rating-e-stroke {
  -webkit-mask-image: url(/images/rating-e-stroke.svg);
  mask-image: url(/images/rating-e-stroke.svg);
}

.rating-mask.rating-d {
  -webkit-mask-image: url(/images/rating-d.svg);
  mask-image: url(/images/rating-d.svg);
}

.rating-mask.rating-d-stroke {
  -webkit-mask-image: url(/images/rating-d-stroke.svg);
  mask-image: url(/images/rating-d-stroke.svg);
}

.rating-mask.rating-c {
  -webkit-mask-image: url(/images/rating-c.svg);
  mask-image: url(/images/rating-c.svg);
}

.rating-mask.rating-c-stroke {
  -webkit-mask-image: url(/images/rating-c-stroke.svg);
  mask-image: url(/images/rating-c-stroke.svg);
}

.rating-mask.rating-b {
  -webkit-mask-image: url(/images/rating-b.svg);
  mask-image: url(/images/rating-b.svg);
}

.rating-mask.rating-b-stroke {
  -webkit-mask-image: url(/images/rating-b-stroke.svg);
  mask-image: url(/images/rating-b-stroke.svg);
}

.rating-mask.rating-a {
  -webkit-mask-image: url(/images/rating-a.svg);
  mask-image: url(/images/rating-a.svg);
}

.rating-mask.rating-a-stroke {
  -webkit-mask-image: url(/images/rating-a-stroke.svg);
  mask-image: url(/images/rating-a-stroke.svg);
}

.rating-mask.rating-s {
  -webkit-mask-image: url(/images/rating-s.svg);
  mask-image: url(/images/rating-s.svg);
}

.rating-mask.rating-s-stroke {
  -webkit-mask-image: url(/images/rating-s-stroke.svg);
  mask-image: url(/images/rating-s-stroke.svg);
}

.rating-mask.rating-sss {
  -webkit-mask-image: url(/images/rating-sss.svg);
  mask-image: url(/images/rating-sss.svg);
}

.rating-mask.rating-sss-stroke {
  -webkit-mask-image: url(/images/rating-sss-stroke.svg);
  mask-image: url(/images/rating-sss-stroke.svg);
}
